*, *::before, *::after{
  box-sizing: border-box;
}

:root {
  --color-1 : #cdb4db; 
  --color-hover : #ffc8dd; 
  --color-3 : #ffafcc; 
  --color-background : #bde0fe; 
  --color-checked : #a2d2ff; 
}

.App {
  height: 100vh;
}

.App-header {
  min-height: 100vh;
  background-color: var(--color-background);

}

/* 
1 : cdb4db
2 : ffc8dd
2 : ffafcc
2 : bde0fe
2 : a2d2ff
*/